<% provide(:title, "About") %>

<!DOCTYPE html>
<head>
  <link rel='stylesheet' text='text/css' href='/app/assets/stylesheets/styles/home.css.css'>
</head>
<body>
  <nav>
    <p>About</p>
  </nav>
  <main>
    <h1>This</h1>
    <h3>is an about page</h3>
  </main>
</body>