<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/app/assets/stylesheets/styles/home.css.css'>
  </head>

  <body>
    <nav>
      <p>Contact</p>
    </nav>
    <main>
      <h1>This</h1>
      <h3>is how to contact me</h3>
      <h4>@heyitsgwen</h4>
    </main>
  </body>
</html>