<% provide(:title, "Help") %>

<!DOCTYPE html>

<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/app/assets/stylesheets/styles/home.css'>
  </head>
  <body>
    <main>
      <h1>This</h1>
      <h3>Is helpful</h3>
    </main>
  </body>
</html>