<!DOCTYPE html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/styles/home.css">
</head>

<body>
  <main>
    <nav>
      <p>Welcome</p>
    </nav>
    <h1>THIS</h1>
    <h3>is a website</h3>
  </main>
</body>