body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;

  nav {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    p {
      color: white;
    }
  }

  h1 {
    font-weight: bold;
  }
  h3 {
    position: relative;
    top: -20px;
  }
}